/* USE ENGLISH! COMMENT YOUR WORK! Aqordify browser stylesheet */
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

/* Header style */

header {
  background-color: black;
  height: 200px;
  width: 100%;
}

header img {
    height: 90%;
    margin-top: 0.3%;
    margin-left: 10%;
}

/* Main Navigation */
#nav {

    position:relative;

    width: 53%;

    /*margin:0 auto; */

    margin-top:80px;
    
    float: right;

}

ul#navigation {

    margin:0px auto;

    position:relative;

    float:left;

}

ul#navigation li {

    display:inline;

    font-size:19px;

    font-weight:normal;

    margin:0;

    padding:0;

    float:left;

    position:relative;

    /*border-top:1px solid #c4dbe7;

    border-bottom:2px solid #c4dbe7;*/

}

ul#navigation li a {

    padding:10px 25px;

    color:white;

    text-shadow:0px 1px 1px black;

    text-decoration:none;

    display:inline-block;

    /*border-right:1px solid #fff;

    border-left:1px solid #C2C2C2;

    border-top:1px solid #fff;

    background: #f5f5f5;*/

     

    -webkit-transition:color 0.2s linear, background 0.2s linear;   

    -moz-transition:color 0.2s linear, background 0.2s linear;  

    -o-transition:color 0.2s linear, background 0.2s linear;    

    transition:color 0.2s linear, background 0.2s linear;   

}

ul#navigation li a:hover {

    background: #2a2a2a;
    color: silver;

}
ul#navigation li a.first {

    border-left: 0 none;

}

ul#navigation li a.last {

    border-right: 0 none;

}
ul#navigation li:hover > a {

    background:#2a2a2a;

}
/* Drop-Down Navigation */
ul#navigation li:hover > ul

{

/*these 2 styles are very important, 
being the ones which make the drop-down to appear on hover */

    visibility:visible;

    opacity:1;

}

ul#navigation ul, ul#navigation ul li ul {

    list-style: none;

    margin: 0;

    padding: 0;    

/*the next 2 styles are very important, 
being the ones which make the drop-down to stay hidden */

    visibility:hidden;

    opacity:0;

    position: absolute;

    z-index: 99999;

    width:100%;

    background:#2a2a2a;

    /*box-shadow:1px 1px 3px #ccc;*/

/* css3 transitions for smooth hover effect */

    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 

    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 

    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 

    transition:opacity 0.2s linear, visibility 0.2s linear;     
}

ul#navigation ul {

    top: 43px;

    left: 1px;

}

ul#navigation ul li ul {

    top: 0;

    left: 100%; /* strong related to width:180px; from above */

}

ul#navigation ul li {

    clear:both;

    width:100%;

    border:0 none;

    /*border-bottom:1px solid #c9c9c9;*/

}

 ul#navigation ul li a {

    background:none;

    padding:7px 15px;

    color:silver;

    text-shadow:0px 1px 1px black;

    text-decoration:none;

    display:inline-block;

    border:0 none;

    float:left;

    clear:both;

}



/* Body style */

@media only screen and (width) {

html {
    width: 100%;
    height: 100%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color: black;
}

.body_intro {
	width: 100%;
    height: 100%;
    margin: 0%;
    background-color: black;
	overflow: hidden;
}


.login{
    position: absolute;
    top: calc(13% - 75px);
    left: calc(80% - 50px);
    height: 100px;
    width: 30%;
    z-index: 2;
   }

.login input[type=text]{
    width: 20%;
    height: 25%;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'kontrapunkt', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password]{
    width: 20%;
    height: 25%;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'kontrapunkt', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button]{
    width: 20%;
    height: 30%;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'kontrapunkt', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=button]:hover{
    opacity: 0.8;
}

.login input[type=button]:active{
    opacity: 0.6;
}

.login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
    outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}



#intro_top{
    text-align: center;
     margin-top: 2%;
     margin-bottom: 10%;

}

    #intro_top img{
        max-height: 30%;
        height: 30%;
    }

#intro_bottom{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: "kontrapunkt"
}

#intro_bottom a{
    text-decoration: none;
    color: black;
}

    .introbox_1{
        background-image: url("img/marble.jpg");
        height: 10%;
        width: 30%;
        float: left;
        margin-left: 3%;
    }

    .introbox_2{
        background-image: url("img/steel.jpg");
        height: 20%;
        width: 30%;
        float: left;
        margin-left: 2%;
    }

    .introbox_3{
        background-image: url("img/gold3.jpg");
        height: 30%;
        width: 30%;
        float: left;
        margin-left: 2%;
    }




#wrapper {
  max-width: 100%;
  max-height: 100%;
  margin:auto 0;
  font-family: "kontrapunkt";
  background-color: black;
} 

@font-face {
font-family: "Kontrapunkt";
src: url("fonts/Kontrapunkt_Light.otf") format("opentype");
}

@font-face {
font-family: "Kontrapunkt";
font-weight: bold;
src: url("fonts/Kontrapunkt_Bold.otf") format("opentype");
}

        #content_front {
            font-family: "Kontrapunkt";
            color: silver;
           text-align: center;
            width: 100%;
            margin: 0;
            background-color: black;
        }


        .front_img img{
            display: block;
            height: 30%;
            margin-left: auto;
			margin-right: auto;
        }

        #content_underpage {
            height: 80%;
            /*width: 100%;*/
            padding: 3%;
            text-align: center;
        }

        .content_underpage div span{
         color: gold !important;
        }

        

        .text_box {
            height: 600px;
            /*width: 100%;*/
            padding-top: 2%;
            padding-left: 2%;
            text-align: center;
            background-color: black;
             color: white;
        }

        .content_img img{
            height: 150px;
			display: block;
			margin-right: auto;
			margin-left: auto;
        }

        .text_box img {
            height: 150px;
            display: block;
            margin-right: auto;
	    margin-left: auto;
        }

        .text_box a{
            color: white;
        }
        
        p {
            color: white;
            font-size: 20px;
            float: center;
        }

/*Styles for bottom-box content*/

#content_bottom {
    width: 80%;
    height:320px;
    text-align: center;
    padding: 0% 0% 0% 20%;
    text-align: center;
    overflow: hidden;
    float: center;        /* <-- style to add margin between content and cleared footer*/
    margin-bottom: 3%; /* <-- solution: float the abow element (content_bottom) and add a bottom margin*/
    margin-top: 3%;
    background-color: black;
}

/*Styles for all content_boxes*/

#content_bottom_box_1, #content_bottom_box_2, #content_bottom_box_3, #content_bottom_box_4{
    background-color: #fcfcfc;
    padding: 1%;
    width: 21.5%;
    height: 270px;
    float: left;
    position: relative;
    -webkit-box-shadow: 1px 1px 16px 0 #575757;
    -khtml-box-shadow: 1px 1px 16px 0 #575757;
    -moz-box-shadow: 1px 1px 16px 0 #575757;
    box-shadow: 1px 1px 16px 0 #575757;
    
    -webkit-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.75);
    -khtml-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.75);
}


#content_bottom_box_1:hover, #content_bottom_box_2:hover, #content_bottom_box_3:hover, #content_bottom_box_4:hover {
    -webkit-box-shadow: 1px 1px 16px 1px #080808;
    -khtml-box-shadow: 1px 1px 16px 1px #080808;
    -moz-box-shadow: 1px 1px 16px 1px #080808;
    box-shadow: 1px 1px 16px 1px #080808;
}

/*Styles for individual boxes*/

#content_bottom_box_1 {
    margin: 1% 0% 1% 0%;
}

#content_bottom_box_2 {

    margin: 1% 1% 1% 2%;
}

#content_bottom_box_3 {
    margin: 1% 2% 1% 1%;
}


#content_bottom_box_1_picture,
#content_bottom_box_2_picture,
#content_bottom_box_3_picture{
    overflow: hidden;
    width: 100%;
    height: 180px;
    background-color: #fcfcfc;
}

#content_bottom_box_1 img, 
#content_bottom_box_2 img, 
#content_bottom_box_3 img{
    width: 100%;
    height:250px;
}

/*Styles for information-box*/
.content_bottom_box_contentinfo {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #fcfcfc;
}

.content_bottom_link {
    text-align: center;
    width: 100%;
    height: 30px;
}


.content_bottom_box_contentinfo p {
    color: #222222;
    margin: 0%;
    padding: 7px;
    text-align: center;
    font-family: 'kontrapunkt', Arial, sans-serif;
    font-weight: normal;
    font-size:.85em !important;
    -webkit-font-smoothing: antialiased !important;
}

/*Styles for bottom_box links*/
.content_bottom_link p {
    font-family: 'Kontrapunkt_Bold', arial, sans-serif;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: 400;
    color: #222222;
    text-decoration: underline;
    text-align: center;

}

.content_bottom_link p:hover {
    text-decoration: none;
}

.content_bottom_link p:visited {
    color: #da7f18;
}

/* Footer style */

footer {
    width: 100%;
    max-width: 100%;
    margin: auto 0;
    height: 170px;
    /*overflow: auto;*/ /* Overflow created a scroll list at the bottom of the footer/page. Removing this solved the problem. I recommend we don't use this attribute. */
    background-image: url(img/marble.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    padding-top: 1%;
    overflow: hidden;
  }
        .copyright {
            text-align: center;
            position: relative;
            /*left: 8px;*/
            font-size: 10px;
            color: black;
            font-weight: bold;
			margin: 0;
			width: 100%;
			display: block;
        }
        .footer { 
            text-align: center;
            position: relative;
            /*left: 8px;*/
            font-size: 10px;
            color: black;
            font-weight: bold;
			margin: 0;
        }
        .mail {
            position: relative;
            /*left: 42px;*/
            font-size: 20px;
            color: black;
            font-weight: bold;
			display: block;
			width: 30%;
			margin-left: 42px;
        }
		
		.mail p {
			width: 30%;
			overflow: hidden;
			margin: 0;
		}

        .mail a {
            text-decoration:none;
            color: black;
            font-weight: bold;
			margin: 0;
        }

        .ikon {
            float: right;
            width: 4%;
        }
		
		/* Media queries*/
@media screen and (max-width:969px)
{
 #wrapper{
	width:100%; 
}

footer
{ width:100%;
 
}
.ikon {
width: 40%;
float: none;
}
.mail {
font-size: 10px;
}

#content_bottom_box_1 {
    margin: 1% 0% 1% 0%;
}

#content_bottom_box_2 {

    margin: 1% 1% 1% 2%;
}

#content_bottom_box_3 {
    margin: 1% 2% 1% 1%;
}


#content_bottom_box_1_picture,
#content_bottom_box_2_picture,
#content_bottom_box_3_picture{
    overflow: hidden;
    width: 100%;
    height: 40%;
    background-color: #fcfcfc;
}

#content_bottom_box_1 img, 
#content_bottom_box_2 img, 
#content_bottom_box_3 img{
    width: 100%;
    height:75%;
}
#text_box 
{
font-size: 12px;
}
.content_img
{
opacity:0.1;
width:100%;
}

#introbox_1 {
    margin: 1% 0% 1% 0%;
}

#introbox_2 {

    margin: 1% 1% 1% 2%;
}

#introbox_3 {
    margin: 1% 2% 1% 1%;
}


#introbox_1_picture,
#introbox_2_picture,
#introbox_3_picture{
    overflow: hidden;
    width: 100%;
    height: 40%;
    background-color: #fcfcfc;
}

#intro_box_1 img, 
#intro_box_2 img, 
#intro_box_3 img{
    width: 100%;
    height:75%;
}
