/* USE ENGLISH! COMMENT YOUR WORK! Aqordify browser stylesheet */



/* Body style */
body {
  margin:0px;
  background-color:black;
}

#container {
    position: relative;
    margin: 0px;
    background-color:black;
}

/* Header style. Margin removed after causing trouble. Using the HTML5 tag 'header' */
header {
   /* margin-top: 4%; */
    background-color: black;
    height: 200px;
    width: 100%;
	margin-bottom: 5%;
}

/* This one adjusts the logo. It's part of the header, not the navigation */
header img {
    height: 100%;
    margin-left: 10%;
    margin-top: 55px;
    margin-bottom: 55px;
}

/* Main Navigation. Anything within comments are edited out due to problems or not being wanted. */
#nav { /* This adjusts the navbar as whole */

    position:relative;

    width: 50%;

    /*margin:0 auto; */

    margin-top: 6%;
	
	float: right;
	
	margin-right: 5%;

}

ul#navigation {

    margin:0px auto;

    position:relative;

    float:left;
	
    font-family: sans-serif; /*This of course need adjustment according to requests*/

}

ul#navigation li {

    display: inline;

    font-size: 24px;

    margin:0;

    padding:0;

    float:left;

    position:relative;
	
	color: silver;

    /*border-top:1px solid #c4dbe7;
    border-bottom:2px solid #c4dbe7;*/

}

ul#navigation li a {

    padding:10px 25px;

    color: white;

    text-shadow:0px 1px 1px black;

    text-decoration:none;

    display:inline-block;

    /*border-right:1px solid #fff;
    border-left:1px solid #C2C2C2;
    border-top:1px solid #fff;
    background: #f5f5f5;*/

     

    -webkit-transition:color 0.2s linear, background 0.2s linear;   

    -moz-transition:color 0.2s linear, background 0.2s linear;  

    -o-transition:color 0.2s linear, background 0.2s linear;    

    transition:color 0.2s linear, background 0.2s linear;   

}

ul#navigation li a:hover {

    background: #2a2a2a;
    color: white;

}
ul#navigation li a.first {

    border-left: 0 none;

}

ul#navigation li a.last {

    border-right: 0 none;

}
ul#navigation li:hover > a {

    background:#2a2a2a;

}
/* Drop-Down Navigation */
ul#navigation li:hover > ul

{

/*these 2 styles are very important, 
being the ones which make the drop-down to appear on hover */

    visibility:visible;

    opacity:1;

}

ul#navigation ul, ul#navigation ul li ul {

    list-style: none;

    margin: 0;

    padding: 0;    

/*the next 2 styles are very important, 
being the ones which make the drop-down to stay hidden */

    visibility:hidden;

    opacity:0;

    position: absolute;

    z-index: 99999;

    width: 150px;

    background:#2a2a2a;
	
	margin-top: 7%;
	
	margin-left: -1px;
	
    /*box-shadow:1px 1px 3px #ccc; SHADOW ON THE DROPBOX OPTIONS*/

/* css3 transitions for smooth hover effect */

    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 

    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 

    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 

    transition:opacity 0.2s linear, visibility 0.2s linear;     
}

ul#navigation ul {

    top: 43px;

    left: 1px;

}

ul#navigation ul li ul {

    top: 0;

    left: 151px; /* strong related to width:180px; from above */

}

ul#navigation ul li {

    clear:both;

    width:100%;

    border:0 none;

    /*border-bottom:1px solid #c9c9c9;*/

}

 /*ul#navigation ul li a {

    background:none;

    padding:7px 15px;

    color:white;

    text-shadow:0px 1px 1px black;

    text-decoration:none;

    display:inline-block;

    border:0 none;

    float:left;

    clear:both;

    width:150px;

}*/



#content {
    background-color: black;
    color:silver; 
    font: Sans-Serif;

}

.front img{
    max-width: 100%;
    max-height: 100%;
    display: block;

}

h1 {
  position: absolute;
  float: left;
  display: inline;
  bottom: 10px;
  left: 10px;
  max-width: 30%;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px 10px;
  color: white;
  margin: 0;
  font: 20px Sans-Serif;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.opp h1 {
  background: rgba(255, 255, 255, 0.75);
  color: black;
}

ul{
    list-style: none;
    padding:0% 0% 0% 0%;
    line-height: 200%;
}
/* Footer style */
footer {
	width: 100%;
    height: 100px;
	/*overflow: auto;*/ /* Overflow created a scroll list at the bottom of the footer/page. Removing this solved the problem. I recommend we don't use this attribute. */
	background-color:silver;
    padding-top: 0.5%;
    font-family: sans-serif;
    text-shadow:0px 1px 1px black;

  }
.update	{ 
	text-align: center;
	position: relative;
	font-size: 10px;
}

#mailbox {
    width: 500px;
    float: left;
    clear: right;
    padding-left: 20px;

}

.mail {
	position: relative;
    float: left;
    clear: right;
	font-size: 15px;
}

a{
    color: black;
}

#ikonbox {
    width: 250px;
    float: right;
}
